dist
bib
runs
datasets
revert.egg-info

notebooks/*
notebooks
**.ipynb

*.pt
*.state
**.st
**.log

runs
assets

__pycache
*/__pycache__
*/.ipynb_checkpoints
**/__pycache__

experiments/img
experiments/_*
experiments/st
experiments/models
experiments/logs

build
_*
**/_*
!**/__init__.py

scripts-pcmri/patients_json
scripts-pcmri/pcmri_tensor.pt

*datasets*
.vscode/
